/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Regular.eot");
  src: url("../fonts/subset-TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Regular.woff2") format("woff2"), url("../fonts/subset-TTNorms-Regular.woff") format("woff"), url("../fonts/subset-TTNorms-Regular.ttf") format("truetype"), url("../fonts/subset-TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Medium.eot");
  src: url("../fonts/subset-TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Medium.woff2") format("woff2"), url("../fonts/subset-TTNorms-Medium.woff") format("woff"), url("../fonts/subset-TTNorms-Medium.ttf") format("truetype"), url("../fonts/subset-TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Bold.eot");
  src: url("../fonts/subset-TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Bold.woff2") format("woff2"), url("../fonts/subset-TTNorms-Bold.woff") format("woff"), url("../fonts/subset-TTNorms-Bold.ttf") format("truetype"), url("../fonts/subset-TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "TT Norms";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  min-width: 375px;
  color: white;
}

.header {
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url("../images/svg/symbol-p.svg"), url("../images/svg/splash.svg"), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center 300px, center 178px, center;
  background-size: auto calc(100vh - 600px), auto, auto, auto;
}
.header__section-top {
  padding: 50px 0 0;
}
.header__wrap {
  display: flex;
}
.header__logo {
  margin: 0 auto 2px 0;
}
.header__nav-bar-inside-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__language-list {
  display: flex;
  padding: 0 0 1px 0;
}
.header__language-links {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  margin: 0 12px 0 0;
}
.header__language-links_active {
  padding: 5px 5px 8px 6px;
  background-color: #f0145a;
  border-radius: 8px;
  outline: none;
}
.header__language-links_hover:hover {
  padding: 5px 5px 8px 6px;
  background-color: #ededf7;
  border-radius: 8px;
  transition: 0.3s ease;
}
.header__language-links_margin {
  margin: 0 22px 0 0;
}
.header__contact-list {
  display: flex;
  justify-content: flex-end;
}
.header__contact-links {
  color: white;
  text-decoration: none;
}
.header__contact-links_hover:hover {
  color: #f0145a;
  transition: 0.3s ease;
}
.header__contact-links_active {
  color: #f0145a;
  text-decoration: underline;
  text-decoration-color: #f0145a;
  text-underline-position: under;
  text-underline-offset: 2px;
  outline: none;
}
.header__contact-item {
  font-size: 18px;
  line-height: 21px;
  margin: 0 16px 0 0;
}
.header__contact-item_no-margin {
  margin: 0;
}
.header__number {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  position: relative;
  margin: 0 29px 0 0;
}
.header__address {
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin: 0 25px 0 0;
  position: relative;
}
.header__logo-image {
  display: block;
}
.header__facebook-wrap {
  position: relative;
  display: flex;
  padding: 1px 0 0 0;
}
.header__facebook-wrap.dot:before {
  content: "";
  position: absolute;
  left: -17px;
  bottom: 8px;
  background-color: #e6e6f0;
  height: 6px;
  width: 6px;
  border-radius: 50px;
}
.header__facebook-logo_hover:hover {
  fill: #24a3ff;
  transition: 0.3s ease;
}
.header__hamburger-menu {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.header__hamburger-link {
  font-size: 24px;
  line-height: 28px;
  color: #24a3ff;
  background-color: #f5f5fa;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  border-radius: 12px;
}
.header__hamberger-link_active:active {
  color: #f0145a;
}
.header__checkbox {
  display: block;
  width: 18px;
  height: 17px;
  top: -5px;
  right: -3px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.header__hamburger-cross {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: white;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1), background 1s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.header__hamburger-cross:first-child {
  transform-origin: 0% 0%;
}
.header__hamburger-cross:nth-last-child(2) {
  transform-origin: 0% 100%;
  margin: 0;
}
.header__checkbox:checked ~ .header__hamburger-cross {
  opacity: 1;
  transform: rotate(45deg) translate(5px, 2px);
  background: #ec6f5d;
  top: -54px;
}
.header__checkbox:checked ~ .header__hamburger-cross:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header__checkbox:checked ~ .header__hamburger-cross:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 4px);
}
.header__checkbox:checked {
  top: -59px;
  height: 23px;
}
.header__hamburger-list {
  display: none;
  position: absolute;
  width: 100vw;
  height: calc(100vh + 10px);
  background: white;
  top: -83px;
  right: -20px;
  padding: 74px 20px 0;
  border-radius: 12px 12px 0 0;
}
.header__checkbox:checked ~ .header__hamburger-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  animation: moving 1.3s;
}
.header__checkbox:not(:checked) ~ .header__hamburger-list {
  animation: collapsing 1s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  transition-delay: 1s;
  transition-property: opacity, height, width, top, right, visibility;
  opacity: 1;
  width: 0;
  height: 0;
  top: -1000px;
  right: 343px;
  visibility: hidden;
}
.header__hamburger-item {
  margin: 0 0 11px;
}
.header__heading-one {
  font-size: 38px;
  line-height: 45px;
  font-weight: 500;
  width: 623px;
  text-align: center;
  margin: 0 0 auto;
}
.header__button {
  background-color: unset;
  border-radius: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 10px;
  cursor: pointer;
}
.header__button_active:active {
  transform: scale(0.98);
}
.header__section-bottom-flex {
  min-height: calc(100vh - 115px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 242px 0 0;
}
.header__hamburger-item_logo_before:before {
  background-image: url("../images/svg/p-mobile.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  content: "";
  top: 26px;
  position: absolute;
}

.dot:before {
  content: "";
  position: absolute;
  left: -14px;
  bottom: 4px;
  background-color: #e6e6f0;
  height: 6px;
  width: 6px;
  border-radius: 50px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0 0 0;
}

@keyframes moving {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes collapsing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@media (max-width: 1439px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .header__section-bottom-flex {
    padding: 242px 20px 0;
  }
}
@media (max-width: 767px) {
  .header {
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url("../images/svg/symbol-p.svg"), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-position: center bottom, center 204px, center;
    background-size: auto calc(100vh - 440px), auto, auto;
  }
  .header__contact-list {
    display: none;
  }
  .header__address {
    display: none;
  }
  .header__facebook-wrap {
    display: none;
  }
  .header__hamburger-menu {
    display: block;
  }
  .header__nav-bar .dot:before {
    display: none;
  }
  .header__nav-bar {
    order: -1;
    width: 100%;
    flex-direction: row;
    padding: 0;
    align-items: center;
    margin: 0 0 23px;
  }
  .header__nav-bar-inside-wrap {
    width: 100%;
    justify-content: space-between;
  }
  .header__section-top {
    padding: 22px 0 0;
  }
  .header__wrap {
    flex-wrap: wrap;
    align-items: center;
  }
  .header__number {
    color: #b3b3ba;
    margin: 0;
  }
  .header__language-links {
    color: #b3b3ba;
  }
  .header__language-links_active {
    color: white;
  }
  .header__logo {
    margin: 0 auto 0 0;
  }
  .header__language-list {
    padding: 0;
  }
  .header__language-links_margin {
    margin: 0;
  }
  .header__language-items {
    font-size: 12px;
    line-height: 14px;
  }
  .header__hamburger-item:last-child {
    margin: 0;
  }
  .header__heading-one {
    width: 334px;
  }
  .header__section-bottom-flex {
    padding: 147px 20px 0;
    min-height: calc(100vh - 95px);
  }
}
@media (max-width: 374px) {
  .header__hamburger-list {
    width: calc(100vw + (375px - 100vw));
  }
}

/*# sourceMappingURL=styles.css.map */
