@include mq-tablet {
    @media (max-width: $screen-tablet) {
        .cases__item:nth-child(n) {
            width: 50%;
            border-bottom: 1px solid $white;
            border-right: 1px solid $white;
            justify-content: flex-end;
        }
    }
}

@include mq-phone {
    @media (max-width: $screen-phone) {
        .cases__item:nth-child(n) {
            width: 100%;
            border-right: none;
        }
        .cases {
            &__text {
                margin: 0 0 10px;
                @include font (18px, 21px)
            }
            &__heading + .cases__text {
                margin: 20px 0 10px;
            }
        }
    }
}