@include mq-tablet {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header {
        &__section-bottom-flex {
            padding: 242px 20px 0;
        }
    }
    .header-services {
        &__wrap {
        flex-direction: column;
        }
        &__logo {
            margin: 0 0 20px;
        }
        &__nav-bar-inside-wrap {
            margin: 0 0 10px;
        }
        &__nav-bar {
            align-items: flex-start;
        }
    }
}

@include mq-phone {
    .header {
        background-image: $gradient-opacity,
        url('../images/svg/symbol-p.svg'),
        $gradient-soft;
        background-position: center bottom, center 204px, center;
        background-size: auto calc(100vh - 440px), auto, auto;
        &__contact-list {
            display: none;
        }
        &__hamburger-menu {
            display: block;
        }
        &__nav-bar .dot:before {
            display: none;
        }
        &__nav-bar {
            order: -1;
            width: 100%;
            flex-direction: row;
            padding: 0;
            align-items: center;
            margin: 0 0 23px;
        }
        &__nav-bar-inside-wrap {
            width: 100%;
            justify-content: space-between;
        }
        &__section-top {
            padding: 22px 0 0;
        }
        &__wrap {
            flex-wrap: wrap;
            align-items: center;
        }
        &__language-links {
            color: $grey-text;
        }
        &__language-links_active {
            color: $white;
        }
        &__logo {
            margin: 0 auto 0 0;
        }
        &__language-list {
            padding: 0;
        }
        &__language-links_margin {
            margin: 0;
        }
        &__language-items {
            @include font (12px, 14px);
        }
        &__hamburger-item:last-child {
            margin: 0;
        }
        &__heading-one {
            width: 334px;
        }
        &__section-bottom-flex {
            padding: 147px 20px 0;
            min-height: calc(100vh - 95px);
        }
    }
    .facebook-logo__wrap {
        display: none;
    }
    .address {
        display: none;
    }
    .number {
        color: $grey-text;
        margin: 0;
    }
    .header-services {
        background-image: $gradient-super-soft;
        background-size: auto;
        background-position: center;
        &__language-link {
            color: $white;
        }
        &__number {
            color: $white;
        }
        &__wrap {
            flex-direction: row;
        }
    }
}

@media (max-width: 374px) {
    .header {
        &__hamburger-list {
            width: calc(100vw + (375px - 100vw));
            height: calc(100% + 10px);
        }
    }
}