.button {
    @include font (14px, 17px, 700);
    background-color: $active-regular;
    padding: 16px 78px 17px;
    color: $white;
    border: none;
    outline: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    cursor: pointer;
}

.button:active {
    // transform: translateY(1px);
    transform: scale(0.95);
  }