.facebook-logo {
        display: flex;
        &__icon_hover:hover {
                @include hover;
                fill: $active-regular;
        }
        &__link {
                display: flex;
        }
}


