.jump-link {
    @include font (14px, 17px, 700);
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.jump-link_after:after {
    content: url('../images/svg/greater-than-symbol.svg');
    width: 5px;
    height: 9px;
    position: absolute;
    top: 1px;
    left: 83px;
}