.cases {
    padding: 0 0 30px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        border-radius: 12px;
        background-color: $grey-bg;
    }
    &__heading {
        @include font (14px, 17px, 700);
        color: $accent;
        border-bottom: 2px solid $white;
        padding: 0 20px 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__text {
        @include font (24px, 28px, 500);
        color: $main-soft;
        margin: 47px 0 20px;
    }
    &__link {
        color: $grey-text;
        text-decoration: none;
    }
    &__item_hidden {
        @include hidden;
    }
    &__item_hidden_last {
        @include hidden;
        border-radius: 0 0 12px 12px;
    }
    &__text_hidden {
        color: $black;
    }
    &__item {
        padding: 19px 20px 19px;
        display: flex;
        flex-direction: column;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
    }
    &__item_first-child:first-child {
        padding: 19px 0 19px;
    }
    &__item:nth-child(6) {
        border-right: none;
    }
    &__item:nth-child(9) {
        border-bottom: none;
    }
    &__item:nth-child(12) {
        border-bottom: none;
    }
    &__item:nth-child(14) {
        border-bottom: none;
        border-right: none;
    }
    &__item_width-one {
        width: 433px;
    }
    &__item_width-two {
        width: 454px;
    }
    &__item_width-three {
        width: 433px;
    }
    &__item_width-four {
        width: 320px;
    }
    &__item_width-five {
        width: 453px;
    }
    &__item_width-six {
        width: 547px;
    }
    &__text_margin-big {
        margin: 85px 0 20px;
    }
    &__text_margin-medium {
        margin: 56px 0 20px;
    }
    &__text_margin-none {
        margin: 0 0 20px;
    }
    &__item_hover:hover {
        background-color: $grey-alt;
    }
    &__item_hidden_medium-one , &__item_hidden_medium-two {
        @include hidden;
    }
    &__item_hidden_small {
        @include hidden;
        padding: 19px 20px 71px;
    }
    &__item_visible {
        background-color: $grey-alt;
    }
    &__item_visible_last {
        background-color: $grey-alt;
    }
}

.cases__item_visible ~ .cases__item_hidden {
    animation: fade ease 1s;
    display: flex;
}

@keyframes fade {
    0% {
       opacity: 0; 
    }
    50% {
      opacity:0.5;
    }
    100% {
      opacity:1;
    }
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}


.cases__item_visible_last ~ .cases__item_hidden_last {
    animation: fade ease 1s;
    display: flex;
}


.first-type:first-of-type {
    padding: 0 20px;
}

.services-cases {
    padding: 60px 0 30px;
}