.services {
    background-image: $gradient-super-soft;
    border-radius: 0 0 12px 12px;
    position: relative;
    // box-shadow: 0px 20px 0px -10px $shadow-grey;
}

.services_before:before {
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 12px 12px;
    background-color: $shadow-grey;
    right: 20px;
    bottom: -10px;
}

.services_after:after {
    content: '';
    position: absolute;
    width: calc(100% - 80px);
    height: 10px;
    border-radius: 0 0 12px 12px;
    background-color: $shadow-grey-light;
    right: 40px;
    bottom: -20px;
}

.scroll-menu {
    padding: 80px 0;
    display: block;
    &__slide-wrap {
        display: flex;
        width: 1207px;
    }
    &__slider {
        width: auto;
        height: 312px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        direction: rtl;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    &__slider-slide {
        width: 626px;
        flex-shrink: 0;
        height: 100%;
        padding: 51px 0 45px 40px;
        direction: ltr;
        scroll-snap-align: start;
    }
    &__jump-link-wrap {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        direction: rtl;
        width: 527px;
    }
    &__jump-link {
        @include font (42px , 50px, 700);
        text-decoration: none;
        color: $grey-text;
    }
    &__jump-link_hover:hover {
        background-color: $accent;
        background-image: $gradient-red-text-reversed;
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    // This is a jump-link in it's active state for JS manipulation
    &__jump-link_active {
        background-color: $accent;
        background-image: $gradient-red-text-reversed;
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    &__jump-item {
        margin: 0 0 21px;
    }
    &__jump-item:first-child {
        margin: 0 0 20px;
    }
    &__jump-item:last-child {
        margin: 0;
    }
    &__heading {
        @include font (32px, 38px, 500);
        color: $white;
        margin: 0 0 21px;
    }
    &__text {
        @include font (21px, 30px);
        color: $white;
    }
    &__slider_scrollbar::-webkit-scrollbar {
        width: 4px;
        background-color: $grey-separator;
    }
    &__slider_scrollbar-thumb::-webkit-scrollbar-thumb {
        background: $accent;
        height: 50px;
    }
}

.slider-menu {
    display: none;
    height: 312px;
    position: relative;
    overflow: hidden;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    margin: 16px 0 0;
    &__button {
        width: 16px;
        height: 16px;
        margin: 0 14px 0 0;
        border-radius: 50%;
        cursor: pointer;
        background-color: $active-regular;
        opacity: 0.2;
        appearance: none;
        outline: none;
    }
    &__button_checked:checked {
        opacity: 1;
    }
    &__button_hover:hover {
        opacity: 0.6;
    }
    &__button_checked:checked:nth-of-type(1) ~ .slider-menu__inner {
        left: 0%;
    }
    &__button_checked:checked:nth-of-type(2) ~ .slider-menu__inner {
        left: -100%;
    }
    &__button_checked:checked:nth-of-type(3) ~ .slider-menu__inner {
        left: -200%;
    }
    &__button_checked:checked:nth-of-type(4) ~ .slider-menu__inner {
        left: -300%;
    }
    &__inner {
        position: absolute;
        top: -16px;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: flex;
    }
    &__contents {
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        flex-direction: column;
    }
    &__desc {
        @include font (14px, 17px, 700);
        margin: 16px 0 10px;
        background-color: $accent;
        background-image: $gradient-red-text-reversed;
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        width: 335px;
    }
    &__heading {
        @include font (22px, 26px, 500);
        color: $white;
        margin: 0 0 15px;
        width: 335px;
    }
    &__text {
        color: $white;
        margin: 0 0 20px;
        width: 335px;
    }
}