@import '../../components/jump-link';

.jump-link_color {
    color: $grey-text;
}

.service-cards {
    padding: 0 0 80px;
    &__h-2 {
        @include font (42px, 50px, 700);
        @include text-gradient ($accent, $gradient-red-text);
        margin: 3px 0 68px;
    }
    &__icon {
        background-color: $white;
        width: 92px;
        height: 92px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__h-3 {
        @include font (24px, 28px, 500);
        margin: 0 0 15px;
        color: $active-regular;
    }
    &__text {
        color: $white;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__list-item {
        display: flex;
        flex-direction: column;
        width: 413px;
        margin: 0 40px 58px 0;
        align-items: flex-start;
    }
    &__list-link {
        margin: 0 0 20px;
    }
    &__list-item:nth-child(3n) {
        margin-right: 0;
    }
    &__list-item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}