@mixin decor {
    color: $white;
    text-decoration: none;
}

@mixin status-link ($color) {
    padding: 5px 5px 8px 6px;
    background-color: $color;
    border-radius: 8px;
}

@mixin dot ($left: null, $bottom: null, $top: null, $right: null) {
    content: '';
    position: absolute;
    left: $left;
    bottom: $bottom;
    top: $top;
    right: $right;
    background-color: $grey-separator;
    height: 6px;
    width: 6px;
    border-radius: 50px;
}

@mixin font ($font-size , $line-height , $font-weight: null) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin text {
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin text-gradient ($color, $gradient) {
    background-color: $color;
    background-image: $gradient;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin hidden  {
    display: none;
    padding: 39px 227px;
    background-color: $grey-alt;
    border-bottom: 1px solid $white;
}

@mixin hover {
    transition: 0.3s ease;
}

@mixin mq-tablet {
    @media (max-width: $screen-tablet) {
        @content;
    }
}

@mixin mq-phone {
    @media (max-width: $screen-phone) {
        @content;
    }
}